
body{
    margin: 6em  auto;
    max-width: 600px;
    font-family: 'Monospace', monospace;
    background-color: rgb(17 24 39 );
    color: #ffffff;
}
body span{
color: rgb(96 165 250 )
}

.jake-to-do{
    color: gold;
}

.place-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    border: 4px solid gold;

}